@font-face {
  font-family: "vigran";
  src: url("font/vigran.otf") format("opentype");
}

body {
  height: 5000px;
  background-color: #d6d6d6 !important;
  overflow-x: hidden;
}

/* HERO */
nav {
  padding-top: 1rem;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.menu {
  display: flex;
  padding: 0.6rem;
  border-radius: 4px;
  position: fixed;
  top: 15px;
  z-index: 9;
}

.menu_text {
  padding-left: 0.6rem;
}

.menu_label {
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  width: 3rem;
  overflow: hidden;
  display: flex;
  padding: 0 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  transition: all 0.3s;
}

.menu_label:hover .fa {
  opacity: 1;
}

.menu_text {
  opacity: 0;
  transition: all 0.3s;
}

.menu_input[type="radio"] {
  display: none;
}

.menu_input[type="radio"]:checked + .menu_label {
  background-color: rgba(255, 255, 255, 0.3);
  width: 7rem;
}

.menu_input[type="radio"]:checked + .menu_label .fa {
  opacity: 1;
}

.menu_input[type="radio"]:checked + .menu_label .menu_text {
  opacity: 1;
}

.menu_input[type="radio"]:checked + .menu_label + .menu_box {
  opacity: 1;
  transform: translateY(0) translateX(0) scale(1);
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(img/4.jpg);
  z-index: -1;
  /* filter: grayscale(10%); */
}

.logo {
  font-family: "vigran", sans-serif;
  position: relative;
  color: white;
}

.L {
  position: absolute;
  top: 4rem;
  font-size: 6rem;
  font-weight: bold;
  left: -1.5rem;
}
.G {
  position: absolute;
  top: 6.5rem;
  font-size: 6rem;
  font-weight: bold;
}

.wedding-name {
  margin-top: 400px;
  color: white;
  text-align: center;
  font-family: "vigran", sans-serif;
}

.wedding-name h1 {
  font-size: 3rem;
  font-weight: 500;
}

.wedding-name h4 {
  font-size: 1rem;
}

.countdown-container {
  display: flex;
  width: 100%;
  max-width: 35%;
  justify-content: space-between;
  color: white;
  margin-top: -1.7em;
  font-family: "Raleway", sans-serif;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(255, 255, 255); */
  /* border: 3px solid rgb(255, 255, 255); */
  width: 100px;
  height: 100px;
  /* border-radius: 99px; */
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 1.5rem;
}

.days-label,
.hours-label,
.minutes-label,
.seconds-label {
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* END HERO */

/* PENGANTIN */

.couple {
  padding-top: 50px;
  color: black;
  position: relative;
}

.couple h1 {
  font-family: "vigran", sans-serif;
}

.couple h2,
.couple h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.couple img {
  width: 25rem;
  border-radius: 100px 100px 0 0;
  border: 5px solid white;
  position: relative;
  z-index: 1;
}

.couple .bunga1 {
  position: absolute;
  width: 15rem;
  border: none;
  left: 53%;
  z-index: 0;
  opacity: 0.5;
}

.couple .bunga2 {
  position: absolute;
  width: 15rem;
  border: none;
  left: 33.5%;
  z-index: 0;
  opacity: 0.5;
}

.couple p {
  font-family: "vigran", sans-serif;
}

.shape {
  width: 25rem;
  height: 25rem;
  border: 1px solid white;
  border-radius: 100px 100px 0 0;
  position: absolute;
  z-index: 2;
  left: 71%; /* Menggunakan persentase untuk posisi horizontal */
  top: 57.5%;
  transform: translateX(-50%); /* Pusatkan bentuk secara horizontal */
}

.shape2 {
  width: 25rem;
  height: 25rem;
  border: 1px solid white;
  border-radius: 100px 100px 0 0;
  position: absolute;
  z-index: 2;
  left: 29%; /* Menggunakan persentase untuk posisi horizontal */
  top: 10%;
  transform: translateX(-50%); /* Pusatkan bentuk secara horizontal */
}

/* AKHIR PENGANTIN */

/* GALLERY */
.gallery {
  width: 100%;
  background-color: #b39d5a;
  position: relative;
}

.gallery h1 {
  font-family: "vigran", sans-serif;
  z-index: 2;
  position: relative;
  width: 20rem;
}

.gallery p {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}

.gallery .bunga {
  width: 25rem;
  position: absolute;
  left: 15rem;
  scale: scale(-1);
  opacity: 0.5;
  z-index: 0;
}

swiper-container {
  width: 45rem;
  height: 30rem;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* END GALLERY */

/* INFO */
.info {
  position: relative;
}

.info h5,
h1 {
  font-family: "vigran", sans-serif;
}

.info p,
h6 {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
}

.info img {
  width: 30rem;
  border-radius: 0px 0px 40% 40%;
  position: relative;
  z-index: 1;
}

.info .card {
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 2px;
}

.info .bungacard {
  position: absolute;
  z-index: 0;
  left: 65%; /* Menggunakan persentase untuk posisi horizontal */
  top: 25%;
  transform: translateX(-50%); /* Pusatkan bentuk secara horizontal */
  opacity: 0.5;
}
/* INFO */

@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .info .card {
    width: 98%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 2px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .shape {
    left: 71%; /* Menggunakan persentase untuk posisi horizontal */
    top: 58.5%;
    transform: translateX(-50%); /* Pusatkan bentuk secara horizontal */
    /* transform: translateY(50%); */
  }

  .shape2 {
    left: 29%;
    top: 12.5%;
    transform: translateX(-50%);
  }

  .couple .bunga1 {
    position: absolute;
    width: 15rem;
    border: none;
    left: 49%;
    z-index: 0;
    opacity: 0.5;
  }

  .couple .bunga2 {
    position: absolute;
    width: 15rem;
    border: none;
    left: 31.5%;
    z-index: 0;
    opacity: 0.5;
  }

  .wedding-name {
    margin-top: 300px;
  }

  /* GALLERY */
  .gallery {
    display: block;
  }

  .gallery h1 {
    text-align: center;
    margin-bottom: 2rem;
    z-index: 1;
  }

  .gallery .bunga {
    width: 25rem;
    position: absolute;
    left: 5rem;
    top: -3%;
    scale: scale(-1);
    opacity: 0.5;
    z-index: 0;
  }
  /* END GALLERY */
  .countdown-container {
    max-width: 90%;
  }

  .days-container,
  .hours-container,
  .minutes-container,
  .seconds-container {
    font-size: 0.8em;
    width: 100px;
    height: 100px;
  }

  /* INFO */
  .info .bungacard {
    position: absolute;
    z-index: 0;
    left: 65%; /* Menggunakan persentase untuk posisi horizontal */
    top: 19%;
    transform: translateX(-50%); /* Pusatkan bentuk secara horizontal */
    opacity: 0.5;
  }

  .anjay {
    margin-top: 3rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  body {
    overflow-x: hidden;
  }

  .logo {
    top: 60px;
  }

  .wedding-name {
    margin-top: 500px;
  }

  .shape {
    display: none;
  }

  .shape2 {
    display: none;
  }

  .broom {
    order: 2;
  }

  .broom1 {
    order: 1;
  }

  /* GALLERY */
  .gallery {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  swiper-container {
    width: 80%;
    height: 20rem;
  }

  .gallery h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  /* END GALLERY */

  .countdown-container {
    max-width: 40%;
    margin-bottom: 30px;
    font-size: 50%;
  }

  .days-container,
  .hours-container,
  .minutes-container,
  .seconds-container {
    width: 100px;
    height: 100px;
  }

  /* info */
  .info .card {
    width: 80%;
    padding-top: rem;
  }

  .anjay {
    margin-top: 3rem;
  }

  .info img {
    width: 60%;
    border-radius: 0px 0px 40% 40%;
    position: relative;
    z-index: 1;
  }

  .info .bungacard {
    position: absolute;
    z-index: 0;
    left: 60%; /* Menggunakan persentase untuk posisi horizontal */
    top: 15%;
    transform: translateX(-50%); /* Pusatkan bentuk secara horizontal */
    opacity: 0.5;
  }
  /* end info */
}
